In [1]:
import pandas as pd
df = pd.read_csv('voitures_aramisauto.csv')
print(df.head())

        Marque/Modèle  Année Kilométrage      Etat      Prix
0   Mercedes Classe A   2023    5 245 km  Occasion  36 499 €
1         Peugeot 208   2023       20 km  Occasion  26 999 €
2          Opel Mokka   2023    1 675 km  Occasion  26 799 €
3  Toyota YARIS CROSS   2022    5 810 km  Occasion  24 999 €
4        Peugeot 3008   2019   37 630 km  Occasion  16 499 €

In [2]:
print(df.dtypes)

Marque/Modèle    object
Année             int64
Kilométrage      object
Etat             object
Prix             object
dtype: object

In [3]:
print(df.describe())

             Année
count  2300.000000
mean   2020.715217
std       2.258469
min    2012.000000
25%    2019.000000
50%    2021.000000
75%    2023.000000
max    2024.000000

In [4]:
print(df.isnull().sum())

Marque/Modèle    0
Année            0
Kilométrage      0
Etat             0
Prix             0
dtype: int64

In [5]:
df['Marque/Modèle'] = df['Marque/Modèle'].str.strip()

In [6]:
df[["Marque", "Modèle"]] = df["Marque/Modèle"].str.split(n=1, expand=True)

In [7]:
df['Année'] = pd.to_numeric(df['Année'], errors='coerce')
df['Kilométrage'] = df['Kilométrage'].str.replace(' km', '').str.replace(' ', '').astype(float)

In [8]:
df['Prix'] = df['Prix'].str.replace(' €', '').str.replace(' ', '').astype(float)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df = df[["Marque", "Modèle", "Année", "Kilométrage", "Etat", "Prix"]]

In [11]:
df.to_csv('voitures_aramisauto_nettoye.csv', index=False)